@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
    url('../fonts/Gilroy-Regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
    url('../fonts/Gilroy-ExtraBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
    url('../fonts/Gilroy-Medium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

:root {
  --web-d: #2f1ce4;
  --custom-black: #222020;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Gilroy', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-content__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--custom-black);

  color: #fff;
}

.main-content__link {
  color: #fff;
}

.main-content__link--main {
  font-family: 'Graphik LCG', sans-serif;
  margin-bottom: 30px;
}

.main-content__link--download {
  background-color: var(--web-d);
  padding: 20px;
  border: 3px solid var(--web-d);
}

.main-content__link--info {
  background-color: transparent;
  padding: 20px;
  border: 3px solid #fff;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0;
}

.container__link--back {
  margin-left: 10px;
}

.container__link--back::before {
  content: "";
  background-image:url(return.png);
  background-size: 100% 100%;
  display: inline-block;

  height: 25px;
  width:25px;

  position:relative;
  top:5px;

  margin-right: 5px;
}

.container h2 {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: var(--custom-black);
}

.container h3 {
  padding-left: 180px;
  font-size: 36px;
  color: var(--web-d);
  margin: 100px 0 25px 0;
}

.container ul, ol {
  padding-left: 200px;
  font-size: 18px;
}

.container p {
  padding-left: 180px;
  margin-bottom: 20px;
}