.hero {
  
  &__header {
    h2 {
      font-size: 40px;
    }

    &__link {
      &::before {
        content: '<';
        position: relative;
      }
    }
  }


  &__wrapper {
    width: 900px;
    margin: 0 auto;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__card {
    max-width: 420px;
    flex: 0 0 50%;
    box-shadow: 0 0 20px #555;
    margin: 30px 0;
    position: relative;

    &-body {
      padding: 0 50px;
      margin: 30px 0 60px 0;
    }

    &-title {
      color: #5e52c9;
      font-size: 36px;
      margin: 0 0 30px 0;
    }

    // &-description {}

    &-num {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: #eaeaea;
      font-size: 60px;
    }
  }

  &__show-more {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button {
      background-color: transparent;
      border: 2px solid #5e52c9;
      padding: 15px 30px;
      border-radius: 5px;
      color: #5e52c9;
      font-size: 16px;
    }
  }

}